body{
  background-color: black;
}  
.title{
  color: lightgrey;
  text-align: center;
  background-image: url("img/bokeh.jpg");
  margin: -8px 0px 0px 0px;
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonbar{
  color: lavender;
  height: 40px;
  background-color: teal;
  text-align:center;
}
.button{
  color:lavender;
  background-color: transparent;
  border:none;
  padding: 6px;
  font-size: 20px;
  outline: none;
  cursor:pointer;
}
.text{
  color: lightgrey;
  font-size: 20px;
  text-indent :4em;
}
.caption{
  color: lightgrey;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  margin: 20px 400px 15px 400px;
}
.line{
  color: lightgrey;
  border: solid;
  border-width: 0.5px;
  width: 800px;
  margin: auto;
  text-align: center;
}
.project{
  position: relative;
  color: lightgrey;
  border: solid 1px;
  height: auto;
  max-width: 500px;
  margin: -10px 0px 0px 0px;
  cursor:pointer;
}
.projname{
  color:lightgrey;
  font-size: 20px;
}
.sum{
  #border: solid white 1px;
  color: lightgrey;
  height: auto;
  width: auto;
  margin: -10px px 0px 10px;
  line-height: 2;
}
p,h1,h2,.button{
  font-family: 'Baskervville', cursive;
}
.projectCol1{
  #color: white;
  #border: solid 1px;
  float: left;
  width: 600px;
  padding: 5px;
  margin: 0px 0px 0px 100px;
}
.projectCol2{
  #color: white;
  #border: solid 1px;
  float: left;
  width: 47%;
  padding:5px;
  margin: 0px 0px 0px 0px;
}
.projectRow:after {
  content: "";
  clear: both;
}
