body{
  background-color: black;
}  
.title{
  color: lightgrey;
  text-align: center;
  background-image: url("img/bokeh.jpg");
  margin: -8px 100px 0px 100px;
  font-family: Abel;
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonbar{
  color: lavender;
  height: 40px;
  background-color: teal;
  text-align:center;
}
.button{
  color:lavender;
  background-color: transparent;
  border:none;
  padding: 9px;
  font-family: "Alike Angular";
  font-size: 20px;
  outline: none;
  cursor:pointer;
}
.text{
  color: white;
  font-size: 20px;
  text-indent :4em;
}
.line{
  color: white;
  border: solid;
  border-width: 0.5px;
  width: 550px;
  margin: auto;
  float:none;
  text-align: center;
}
.normal{
  color:white;
}
