body{
  background-color: black;
}  
.title{
  color: lightgrey;
  text-align: center;

  background-image: url("img/bokeh.jpg");
  margin: -8px 100px 0px 100px;
  font-family: Abel;
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  #background-color: blue;
}
.buttonbar{
  color: lavender;
  height: 40px;
  background-color: slategrey;
  text-align:center;
}
.button{
  color:lavender;
  background-color: transparent;
  border:none;
  padding: 9px;
  font-family: "Alike Angular";
  font-size: 20px;
}
.text{
  color: white;
  font-size: 30px;
}
