body{
  background-color: black;
}  
.title{
  color: lightgrey;
  text-align: center;
  background-image: url("img/bokeh.jpg");
  margin: -8px 0px 0px 0px;
  font-family: Abel;
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonbar{
  color: lavender;
  height: 40px;
  background-color: teal;
  text-align:center;
  position: static;
}
.button{
  color:lavender;
  background-color: transparent;
  border:none;
  padding: 8px;
  font-family: "Alike Angular";
  font-size: 20px;
  outline: none;
}
.label{
  color:white;
  text-indent :4em;
  font-size: 40px;
}
.media{
  cursor:pointer;
  border:none;
  color: white;
  text-indent :10em;
}
.social{
  margin: 0px 0px 0px 30px;
  float:center;
  height:50px;
  width:50px; 
  color: black;
  background-size: 100%;
  border-radius:100%;
  background-repeat: no-repeat;
}
.facebook{
  margin: 0px 0px 0px 30px;
  float:center;
  height:50px;
  width:50px; 
  color: black;
  background-size: 100%;
  border-radius:100%;
  background-repeat: no-repeat;
  background-image:url("img/fbicon.png"); 
}
