body{
  background-color: black;
}  
.title{
  color: lightgrey;
  text-align: center;
  background: #1e1f26;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(30, 31, 38);
  margin: -1%;
  height: 50px;
}
.text{
  color: lavender;
}
