body{
  background-color: black;
}  
.title{
  color: lightgrey;
  text-align: center;
  background-image: url("img/sunset.jpg");
  margin: -0.05%;
  font-family: Abel;
  border-width: 1px;
  font-size: 50px;
  font-style: italic;
  padding: 100px;
  background-repeat: no-repeat;
}
.text{
  color: lavender;
  border-style: dotted;
  border-width: 1px;
  padding: 15px;
  background-color: orange;
}
.second{
  color: blue;
}
